<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>C-Insight | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="bg-purple"></div>
        <div class="main-card">
            <h1 id="main-heading"></h1>
            <p class="lead" id="sub-heading"></p>
            <div class="btn-container">
                <a href="{{ url_for('auth.login') }}" class="btn btn-gradient">Login</a>
                <a href="{{ url_for('auth.register') }}" class="btn btn-outline-gradient">Register</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='js/typewriter.js') }}"></script>

    

</body>
</html>
